/* Background Photos from  <a href="https://pngtree.com/freebackground/background-color_125687.html">pngtree.com</a> */
/*  <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a> */
html {
    background-image: url("images/Pngtree-background-color_125687.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
}
body {
    /*first three from codepen for sf*/
    min-height: 100%; 
    display: grid;
    grid-template-rows: auto 1fr auto; /* there are THREE rows. adjust grid-row-start and end accordingly*/ 
    grid-template-areas: 
        "header" 
        "main" 
        "footer";
    margin: 0 auto;
}
.footer {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
* {
    box-sizing: border-box;
  }
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}
h3 {
    font-style: italic;
}
p {
    font-family: 'Roboto', sans-serif;
}

.rules {
    margin: 20px 0 0 0;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container .box {
    width: 50%;
    margin: 10px;
    text-align: center;
}
.buttons {
    text-align: center;
}
.button {
    display: inline-block;
    margin: 0 20px;
}
main h2 {
    text-align: center;
    font-style: italic;
}
main h4 {
    margin-left: 30px;
}
main p {
    margin-left: 40px;
    color: white;
}
.choices, .results {
    visibility: hidden;
}
.winnerOfMatch {
    font-size: 1.2rem;
}


footer {
    opacity: 1; 
    background-color: rgba(255,255,255,0.3); 
    height: 180px;
    width: 100%;
    font-size: .8rem;
  }
footer p {
    margin: 0 0 0 40px; 
}
footer h4 {
    margin: 10px auto 10px 20px;
    padding-top: 20px;
    font-weight: bolder;
}
.piccredit {
    margin-left: 60px;
}