/* Background Photos from  <a href="https://pngtree.com/freebackground/background-color_125687.html">pngtree.com</a> */
/*  <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a> */
html {
    background-image: url("images/Pngtree-background-color_125687.jpg");
    background-size: cover;
    min-height:100%;
    background-position: center;
}

footer {
    opacity: 1; 
    background-color: rgba(255,255,255,0.3); 
    height: 200px;
    width: 100%;
  }
footer p {
    margin: 0 0 0 40px; 
}
footer h4 {
    margin: 50px auto 10px 20px;
    padding-top: 20px;
}
.piccredit {
    margin-left: 60px;
}